@import "tailwindcss";

:root {
  --background: rgb(246, 244, 249);
  --foreground: rgb(46, 46, 58);
  --main-text-bg: rgb(255, 255, 255);

  --navbar-bg: rgb(240, 226, 253);
  --navbar-icons: rgb(180, 154, 211);

  --primary-light: rgb(216, 199, 233);
  --primary: rgb(150, 114, 190);
  --primary-dark: rgb(45, 33, 61);

  --accent: rgb(238, 117, 135);
  --accent-dark: rgb(239, 90, 112);

  font-family: var(--font-nunito), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-navbar-bg: var(--navbar-bg);
  --color-main-text-bg: var(--main-text-bg);
  --color-navbar-icons: var(--navbar-icons);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --color-primary-light: var(--primary-light);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
}

/* Override the root ones when device is on dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(29, 14, 46);
    --foreground: rgb(237, 237, 237);
    --main-text-bg: rgb(37, 18, 59);

    --navbar-bg: rgb(45, 26, 68);
    --navbar-icons: rgb(92, 54, 128);

    --primary-light: rgb(35, 25, 48);
    --primary: rgb(144, 102, 196);
    --primary-dark: rgb(92, 54, 128);

    --accent: rgb(245, 93, 116);
    --accent-dark: rgb(240, 71, 96);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif;
}
